<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samebits.beacon.mubser">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application
        android:name="com.samebits.beacon.mubser.BeaconLocatorApp"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.samebits.beacon.mubser.ui.activity.MainNavigationActivity"
            android:label="@string/title_activity_main_navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.samebits.beacon.mubser.receiver.BeaconAlertReceiver">
            <intent-filter>
                <action android:name="${applicationId}.action.ALARM_NOTIFICATION_SHOW" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.samebits.beacon.mubser.receiver.LocationReceiver">
            <intent-filter>
                <action android:name="${applicationId}.action.GET_CURRENT_LOCATION"/>
            </intent-filter>
        </receiver>
        <service android:name="org.altbeacon.beacon.service.BeaconService" tools:node="replace">
            <meta-data android:name="longScanForcingEnabled" android:value="true"/>
        </service>
    </application>
</manifest>
